:root {
    background: gray;
}

.div_right {
    width:25%;
    float:right;

}
.chat {
    background: lightgray;
    font-family: "Courier New", Courier, monospace;
    padding: 7px;
}

.form {
    height: 100%;
}

.msginput {
    width: 60%;
}

.sendbutton {
    width: 15%;
}

#header {
    background: gray;
    padding: 10px;
    padding-bottom: 0;
    padding-top:0;
}

#logout {
  background: gray;
  padding: 10px;
}

button{
  background-color: green;
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
  margin-top: 10px;
}
button:hover {
  opacity:.85;
  cursor: pointer;
}
button:active {
border: 1px solid #20911e;
box-shadow: 0 0 10px 5px #356b0b inset;
-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
-moz-box-shadow: 0 0 10px 5px #356b0b inset;
-ms-box-shadow: 0 0 10px 5px #356b0b inset;
-o-box-shadow: 0 0 10px 5px #356b0b inset;

}
.sendbutton{
    background-color: #68b12f;
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
  }
  .sendbutton:hover {
    opacity:.85;
    cursor: pointer;
  }
  .sendbutton:active {
  border: 1px solid #20911e;
  }
input{
  border-radius: 8px;
    width: 100%
}
#body {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 30px; /* Height of the footer */
}

#footer {
    padding: 10px;
    width: 100%;
    height: 30px; /* Height of the footer */
    position: absolute;
    bottom: 0px;
}

.history_container {
    text-align:left;
}

.div_history {
    width:70%;
    float:left;
    border-radius: 20px;
    text-align: center;
    position:relative;

}

.div_usr_online {
    border-radius: 20px;
    text-align: center;
}

.form_group {
    width:100%;
}

.form1 {
    height: 30%;
   }

.form2 {
    height: 70%;

}